html,body {scroll-behavior:smooth;overflow:hidden;margin:0;padding:0;}
.overflow {-webkit-overflow-scrolling:touch;-ms-overflow-style:none;scrollbar-width:none;}
.overflow::-webkit-scrollbar {display:none;} .x {overflow-x:auto;} .y {overflow-y:auto;}
.comment {background:#313338;color:#FFFFFF;border:none;border-radius:1em;padding:1vmax 1vmin;}
#comment {width:90vw;height:70vh;padding:1vmin 1vmax;} #comment * {margin:0;padding:1vmax 1vmin;}
#color {background:none;appearance:none;border:none;border-radius:50%;width:2em;height:2em;padding:0;}
#color::-webkit-color-swatch {border:none;border-radius:1em;padding:0;}
#color::-webkit-color-swatch-wrapper {border:none;border-radius:1em;padding:0;}
#content {background:none;color:#FFFFFF;border:none;width:100%;margin-left:1em;padding:0;}