html,body {background:#202020;color:#FFFFFF;}
p {border:calc(1vh/2) solid #3B3B3B;}
tr,th,td {border:calc(1vh/2) solid #3B3B3B;}
p,td {background:#2A2A2A;}
.new,tr.new td {border:calc(1vh/2) solid #DC004E;}