html {scroll-behavior:smooth;}
body {background:#EEEEEE;color:#888888;}
pre {text-wrap:wrap;line-height:2;margin:1%;padding:1%;}
h1,h2,h3 {font-weight:1000;}
h1 {font-size:300%;}
h2 {font-size:200%;}
h3 {font-size:150%;}
b {font-size:125%;}
p {border:calc(1vh/2) solid #DDDDDD;border-radius:2vh;padding:2vh;}