html,body {margin:0;padding:0;width:100%;height:100%;font-family:"ヒラギノ丸ゴ Pro W4","ヒラギノ丸ゴ Pro","Hiragino Maru Gothic Pro","ヒラギノ角ゴ Pro W3","Hiragino Kaku Gothic Pro","HG丸ｺﾞｼｯｸM-PRO","HGMaruGothicMPRO";}
main {background:skyblue;position:relative;width:100%;height:100%;}
header {background:white;position:absolute;top:0;width:100%;height:9vh;}
a:link,a:visited,a:hover,a:active{text-decoration:none;}
.title {color:#466398;position:absolute;font-size:calc(9vh/2);top:0;bottom:0;left:18vh;margin:auto;}
.back {background:#466398;color:white;position:absolute;border-radius:50%;font-size:calc(9vh/2);display:flex;justify-content:center;align-items:center;text-align:center;z-index:1;top:calc(9vh/2);left:calc(9vh/2);width:9vh;height:9vh;}
.btns {position:absolute;top:0;bottom:0;right:10vh;margin:auto;width:40vw;height:calc(100vh/3*2);display:grid;grid-template-columns:repeat(18,1fr);grid-template-rows:repeat(5,1fr);grid-column-gap:0;grid-row-gap:0;transform:skewX(-10deg);}
.btn0 {grid-area:1/1/3/10;}
.btn1 {grid-area:1/10/3/19;}
.btn2 {grid-area:3/1/4/7;}
.btn3 {grid-area:4/1/5/7;}
.btn4 {grid-area:5/1/6/7;}
.btn5 {grid-area:3/7/5/11;}
.btn6 {grid-area:3/11/5/15;}
.btn7 {grid-area:3/15/5/19;}
.btn8 {grid-area:5/7/6/13;}
.btn9 {grid-area:5/13/6/19;}
.btns * {background:#00FF00;border-radius:1vh;margin:1vh;}