@font-face {font-family:PixelNormal;src:url(/assets/font/PixelNormal.ttf) format("truetype");}
@font-face {font-family:PixelBold;src:url(/assets/font/PixelBold.ttf) format("truetype");}
html,body {background:#000000;color:#FFFFFF;scroll-behavior:smooth;scroll-padding-top:calc(10rem/3);overflow-x:hidden;}
pre {text-wrap:wrap;line-height:2;margin:1%;padding:1%;} pre>div:not(:has(table)) {border:calc(1em/3) solid #FF0000;margin:0;padding:calc(5em/3);}
h1,h2,h3,span {color:#FF0000;font-family:PixelBold;} h1 {font-size:300%;} h2 {font-size:200%;} h3 {font-size:150%;} span {font-size:125%;}
div {overflow-x:auto;-webkit-overflow-scrolling:touch;-ms-overflow-style:none;scrollbar-width:none;font-family:PixelNormal;} div::-webkit-scrollbar {display:none;}
a:link,a:visited,a:hover,a:active {color:#FF0000;text-decoration:none;margin:0 0.1em;}
a::before {background:#FF0000 center/cover url(/assets/image/cthulhu/icon_tag-blue.svg);display:inline-block;content:"";margin:0 0.1em -0.1em 0;width:0.8em;height:0.8em;}
[ruby] {position:relative;} [ruby]::before {position:absolute;content:attr(ruby);white-space:nowrap;text-align:center;top:-100%;left:-25%;font-size:0.5em;width:150%;}
details>summary>div:first-of-type,details[open]>summary>div:last-of-type {display:inline;}
details[open]>summary>div:first-of-type,details>summary>div:last-of-type {display:none;}
summary {display:block;} summary::-webkit-details-marker {display:none;}
details>img {width:100vh;max-width:100%;} * {outline:none;}